@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('../resources/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../resources/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16pt;
    font-weight: 300;
    background-color: #CBE4DE;
}

.title-container {
    display: flex;
    margin: 3vh 0 5vh 5vw;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
}

.vl {
    border-left: 1px solid currentColor;
}

.section:nth-child(even) {
    background-color: #2E4F4F !important;
    color: #FFF !important;
}

.section {
    padding: 5vh 0;
}

.def-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(500px, 50%) );
    grid-row-gap: 20vh;
}

.grid-img-container img {
    width: 80%;
    margin: 0 10%;
}

.grid-text {
    font-size: 16pt;
    width: 90%;
    margin: auto 5%;
}

.grid-text a {
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
}

.code-container {
    background-color: #393b3b;
    color: #FFF;
    border: solid 1px #AAA;
    border-radius: 5px;
    padding: 10px;
    margin-top: 3vh;

    max-height: 500px;
    overflow: auto;
}

code > .tag-name {
    color: rgb(209, 68, 68)
}

code > .comment {
    color: rgb(80, 139, 80)
}

code > .attr-name {
    color: rgb(160, 226, 85);
}

code > .attr-value {
    color: rgb(226, 214, 108);
}

li {
    margin: 3vh 0;
}

@media only screen and (max-width: 999px) {
    .grid-text {
        width: 80%;
        margin: 1vw 5%;
    }

    .def-grid {
        overflow: hidden;
        grid-template-columns: repeat( auto-fit, minmax(500px, 100%) );
    }

    .grid-img-container {
        width: 100%;
    }

    .grid-img-container img {
        width: 80%;
        margin: 0 5%;
    }
}
