* {
    text-align: right;
}

body {
    background-image: url(https://images.unsplash.com/photo-1678140159724-8f10121dc864?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}

p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, .5);
    cursor: pointer;
}

img {
    float: left;
}

p {
    color: pink;
}

p {
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 18pt;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: dashed green
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, .2)
}

#div2 {
    background: rgba(255, 0, 0, .2)
}